/*====================
 スマートフォン用のスタイル
=====================*/

@media screen and (max-width: 767px) {

.top-wrapper {
  margin: 0 12px;
}

.item3 {
  text-align: center;
}

#top-image-pic {
  margin-top: 32px;
  max-height: 240px;
  width: auto;
}

h1 {
  margin-top: 128px;
  margin-bottom: 16px;
}

.name-titile {
  margin-top: 8px;
  text-align: center;
}

.skill-title {
  margin-top: 64px;
}

.skill-logo {
  display: flex;
  height: auto;
  width: 70%;
  object-fit: cover;
  margin: 0 auto;
}

.webdesign {
  margin-top: 32px;
  text-align: center;
}


/* スキルリスト */
.post-information-wrapper ul li { 
  display: flex;
  flex-direction: column;
  justify-content: normal;
}

.post-information-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 12px;
} 

h3 {
  font-size: 16px;
  border-top: solid 1px #c5e1e4;
  padding-top: 24px;
  text-align: left;
}

p {
  font-size: 16px;
  padding: 8px 0 24px 0;
  text-align: left;
}

.p-last {
  border-bottom: solid 1px #c5e1e4;
  padding-bottom: 24px;
}

ul { 
  list-style: none;
}

li {
  unicode-bidi: isolate;
  padding: 0;
}

.production-period {
  display: flex;
  margin: 0;
}

.production-period ul li {
  border-top: none;
}


div.production-period ul li:last-child {
  border-bottom: none;
}

/* アコーディオンメニュー */
/*チェックボックスを非表示にする*/
input {
  display: none;
}

label {
  padding: 1em;
  display: block;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  font-family: 'Hiragino Kaku Gothic ProN W6',sans-serif;
  text-align: center;
}

/*三角矢印アイコン*/
.icon {
  display: block;
  position: absolute;
  right: 25%;
  top: 50%;
  width: 24px;
  margin-left: 6px;
  flex-shrink: 0;
  transform-origin: center 43%;
  transition: transform 0.5s;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: #594e3e;
}
.icon::before {
  left: 0;
  transform: rotate(45deg);
}
.icon::after {
  right: 0;
  transform: rotate(-45deg);
}

.wrap {
  padding: 12px;
}

/*コンテンツ初めは非表示*/
.content {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  overflow: hidden;
}

/*クリックするとコンテンツ表示*/
input:checked ~ .content {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
}

/* アコーディオン表示の際に三角回転 */
input:checked ~ label .icon {
  transform: rotate(180deg);
}

/* フッター */
.contact-title {
  margin-top: 64px;
  padding-top: 24px;
}

}  

/*====================
 PC用のスタイル
=====================*/

@media screen and (min-width: 767px) {

  html {
    width: 100%;
  }

  body {
    width: 100%;
  }

.top-wrapper {
  margin: 0 24px;
}

.flex3 {
  display: flex;
  flex-wrap: wrap;
}

.item3 {
  text-align: center;
  width: 50%;
  height: 100%;
  margin: auto 0;
}

#top-image-pic {
  max-width: 90%;
  height: auto;
}

h1 {
  margin: 300px 0 120px 0;
  font-size: 40px;
  text-align: center;
  position:relative;
  padding:0 150px;
}

h1:before,h1:after{
  position:absolute;
  top:calc(50%);
  width:100px;
  height:10px;
  content:'';
  border-top:solid 3px #c5e1e4;
}

h1:before{
  left:25%;
}

h1:after{
  right:25%;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 24px;
}


p {
  font-size: 16px;
  padding-bottom: 24px;
}

.profile-text {
  text-align: left;
  margin: 24px 0;
  padding-right: 24px;
  padding-bottom: 0;
}

.skill-title {
  margin: 200px 0 120px 0;
}

.name-titile {
  text-align: left;
}

.skill-logo {
  max-width: 90%;
  height: auto;
}

.webdesign {
  font-size: 24px;
  margin-top: 32px;
  text-align: left;
}

/* スキルリスト */
.post-information-wrapper ul li {
  display: flex;
  flex-direction: column;
  justify-content: normal;
}

.post-information-wrapper {
  text-align: center;
}

h3 {
  font-size: 20px;
  border-top: solid 2px #c5e1e4;
  padding: 24px 0 8px 0;
}

.p-last {
  border-bottom: solid 2px #c5e1e4;
  padding-bottom: 24px;
  margin-bottom: 120px;
}


ul {
  list-style: none;
  text-align: left;
  display: inline-block;
}

li {
  unicode-bidi: isolate;
  padding: 0;
}

.production-period {
  display: flex;
  margin: 0;
}

.production-period ul li {
  border-top: none;
}


div.production-period ul li:last-child {
  border-bottom: none;
}

/* アコーディオンメニュー */
/*チェックボックスを非表示にする*/
input {
  display: none;
}

label {
  padding: 1em;
  display: block;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  font-family: 'Hiragino Kaku Gothic ProN W6',sans-serif;
  text-align: center;
  margin: 32px;
}

/*三角矢印アイコン*/
.icon {
  display: block;
  position: absolute;
  right: 35%;
  top: 50%;
  width: 24px;
  flex-shrink: 0;
  transform-origin: center 43%;
  transition: transform 0.5s;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: #594e3e;
}
.icon::before {
  left: 0;
  transform: rotate(45deg);
}
.icon::after {
  right: 0;
  transform: rotate(-45deg);
}

.wrap {
  padding: 12px;
}

/*コンテンツ初めは非表示*/
.content {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  overflow: hidden;
  text-align: center;
}

/*クリックするとコンテンツ表示*/
input:checked ~ .content {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
}

/* アコーディオン表示の際に三角回転 */
input:checked ~ label .icon {
  transform: rotate(180deg);
}

/* アコーディオン　ここまで */

/* フッター */
.contact-title {
  margin: 0;
}

}